@import url('https://fonts.google.com/specimen/Inter');

:root {
    --clr-primary-900: hsl(0, 0%, 8%);
    --clr-primary-800: hsl(0, 0%, 12%);
    --clr-primary-700: hsl(0, 0%, 20%);
    
    --clr-primary-600: hsl(75, 94%, 57%);

    --clr-neutral-100:  hsl(0, 0%, 100%);

    --ff-base: 'Inter', sans-serif;

    --fw-bolder: 700;
    --fw-bold: 600;
    --fw-base: 400;
}

/*
  CSS RESET
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

ul,
li {
    list-style: none;
}

/***********
   main Css
************/
body {
    font-size: 14px;
    font-family: var(--ff-base);
    font-weight: var(--fw-bold);
    background-color: var(--clr-primary-900);
    color: var(--clr-neutral-100);
    text-align: center;    
}

.profile {
    margin: 120px 15px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--clr-primary-800);
}

.profile img{
    border-radius: 50%;
    width: 5rem;
    margin: 0rem auto 2rem;
}

.profile h1 {
    font-size: 1.5rem;
    font-weight: var(--fw-bolder);
    margin-bottom: 0.8rem;
}

.profile_adress {
    color: var(--clr-primary-600);
    margin-bottom: 1rem;
}

.profile_description {
    font-weight: var(--ff-base);
    margin-bottom: 0.5rem;
}

.profile_link {
    display: block;
    background-color: var(--clr-primary-700);
    color: var(--clr-neutral-100);
    text-decoration: none;
    border-radius: 0.5rem;
    margin-top: 0.8rem;
    padding: 1rem 0rem;
}

@media (min-width: 376px) {
    .profile {
        margin: 120px auto;
        width: 25rem;
    }

    .profile_link:hover {
        background-color: var(--clr-primary-600);
        color: var(--clr-primary-900);
    }
}
 
